<footer class="public-footer">
  <div class="footer-main">
    <div class="footer-brand">
      <img src="{{ url_for('static', filename='img/icon-navy.png') }}" alt="">
      <span>Haikou Duoshao Trading Co., Ltd. &nbsp;|&nbsp; <span class="gold">海口多少贸易有限公司</span></span>
    </div>
    <div class="footer-social">
      <a href="https://wa.me/8614768628265" target="_blank" rel="noopener">WhatsApp</a>
      <a href="https://www.facebook.com/share/199V7gTZmw/?mibextid=wwXIfr" target="_blank" rel="noopener">Facebook</a>
      <a href="https://tiktok.com/@duoshaotrading" target="_blank" rel="noopener">TikTok</a>
    </div>
  </div>
  <div class="footer-sub">
    Haikou Free Trade Port, Hainan, China &nbsp;|&nbsp; info@duoshaotrading.com &nbsp;|&nbsp; www.duoshaotrading.com
  </div>
</footer>
